#wordcloud {
	position:absolute;
	right: 0px;
	top: 0px;
	width: calc(50% - 34px);
	height: calc(50% - 34px);
	padding:0px;
	margin: 20px;
	background-color: #FFF; border:2px solid #333; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; 
}
#wordcloud text:hover {
    cursor: pointer;
}